<h1>Listing patches</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Html</th>
    <th>Css</th>
    <th>Js</th>
    <th>Path</th>
    <th>Notes</th>
  </tr>

<% for patch in @patches %>
  <tr>
    <td><%=h patch.url %></td>
    <td><%=h patch.html %></td>
    <td><%=h patch.css %></td>
    <td><%=h patch.js %></td>
    <td><%=h patch.path %></td>
    <td><%=h patch.notes %></td>
    <td><%= link_to 'Show', patch %></td>
    <td><%= link_to 'Edit', edit_patch_path(patch) %></td>
    <td><%= link_to 'Destroy', patch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New patch', new_patch_path %>
